*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: rgb(14, 0, 84);
}

.root, .app_root, .page_wrapper, .willod, .willod header,
.header .page_header, .nav_bar, .home, .home_view, .home_image,
.text_ankasa, .button_, .video_watch, .watch, .video, .rewqq, .col_home,
.grid_home, .row_col, .about, .about_us, .about_us_main, .about____, .what_do,
.written_about, .we_do_main_content, .wrapper_pad, .we_do_grid, .what_we_do,
.faq, .faq_wrapper, .quest_asked, .quest_ask_wap, .main_quest_ans, .faq_col,
.footer, .footer_nav, .footer_icon{
    width: 100%;
    height: 100%;
}

.willod, .willod header, .video_watch{
    position: relative;
}

header .page_header nav, .we_do_header{
    padding: 10px;
}

.nav_bar, .faq_quest, footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.heaaa{
    box-shadow: 0 0 2px #ccc;
    position: fixed;
    top: 0;
    transition: .3s ease;
}

.nav_bar .logo, footer .logo{
    width: 100px;
    height: 100%;
}

.nav_bar .logo img, footer .logo img{
    width: 100%;
    height: 100%;
}

.mobile_view{
    padding: 20px;
    position: relative;
    display: none;
}

.mobile_view button{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    border: none;
    background: #ccc;
    border-radius: 50%;
    padding: 5px;
}

.mobile_view button > div{
    width: 80%;
    height: 2px;
    background: hsl(250, 100%, 16%);
}

.nav_bar .links ul, .footer_nav .links ul{
    display: inline-flex;
    gap: 10px;
    list-style-type: none;
}

.nav_bar .links ul li, .footer_nav .links ul{
    position: relative;
    margin-left: 30px;
    font-size: 1.6rem;
    color: hsl(250, 100%, 16%);
    position: relative;
    transition: .3s ease;

}

.nav_bar .links ul li::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background: blue;
    transition: width .4s ease; 
}

.nav_bar .links ul li:hover::after{
    width: 130%; 
}

.get_started{
    padding-right: 30px;
}

.start button{
    width: 150px;
    height: 45px;
    border: none;
    background: hsl(250, 100%, 16%);
    cursor: pointer;
    transition: .3s ease;
    color: #ffffff;
    border-radius: 4px;
    font-size: 1.2rem;
}

.start button:hover{
    background: hsla(250, 100%, 16%, 0.927);
}

.home_view{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.home_image {
    width: 70%;
    height: 450px;
    overflow: hidden;
}

.home_image img {
    width: 100%;
    height: 100%;
    animation: upAndDown 4s ease-in-out infinite; 
}

@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0); 
    }
    50% {
        transform: translateY(-20px);
    }
}

.text_viewwsss, .rewqq, .bottom_text{
    margin-top: 40px;
}

.text_viewwsss, .aswe, .written_about{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.text_ankasa{
    padding: 10px;
}

.aswe h1{
    font-size: 3.5rem;
    color: hsl(250, 100%, 16%);
}

.aswe span{
    font-size: 1rem;
    color: hsl(250, 100%, 16%);
}

.but_icon i{
    color: hsl(250, 100%, 16%);
    font-size: 1.6rem;
}

.sh_video, .quest_asked{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 30px;
}

.but_text{
    font-size: 1.1rem;
}

.sh_video{
    background: none;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease;
}

.sh_video:hover{
    background: hsl(250, 100%, 16%);
    color: hsl(0, 0%, 100%);
}

.sh_video:hover i{
    color: hsl(0, 0%, 100%);
}

.video_watch{
    position: fixed;
    top: 0;
    left: 0;
    background: #00000062;
    transform: translateY(-100%);
    transition: all .5s ease;
}

.show_vid{
    transform: translateY(0%);
}

.video{
    display: flex;
    align-items: center;
    justify-content: center;

}

.video video{
    border-radius: 20px;
}

.close{
    position: absolute;
    right: 40px;
    top: 20px;
}

.close button{
    border: 1px solid #ccc;
    background: hsl(250, 100%, 16%);
    padding: 4px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.close button i{
    color: hsl(0, 0%, 100%);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rewqq, .action, .we_do_header, .faq{
    margin-top: 60px;
}

.col_home, .about_us, .wrapper_pad, .faq{
    padding: 30px;
    margin-bottom: 30px;
}

.grid_home, .we_do_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.grid_home .row_col{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 4px;
}

.row_col .row_col_icon i{
    font-size: 2rem;
    color: hsl(250, 100%, 16%);
}

.row_col .row_col_head{
    font-size: 1.2rem;
    font-weight: 800;
}

.row_col:hover,.service-box:hover{
    transform: translateY(-4px);
    box-shadow: 0 2px 21px #cccc;
}

.about_us_header, .we_do_header{
    text-align: center;
}

.about_us_header h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: hsl(250, 100%, 16%);
}

.about____{
    padding: 30px;
    margin-top: 40px;
}

.what_do{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.about_left, .about_right{
    position: relative;
}

.about_left_image{
    width: 500px;
    height: 100%;
}

.about_left_image img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.chale h4{
    font-weight: 700;
    font-size: 1.4rem;
}

.tab ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.top_content, .we_do_main_content, .view_works{
    margin-top: 30px;
}

.top_content .ccc, .bottom_text{
    margin-top: 20px;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.tiee, .bottom_header{
    font-size: 2rem;
    color: hsl(250, 100%, 16%);
    font-weight: 800;
}

.mann{
    width: 100%;
    height: 90vh;
    background-image: url('/src/images/image5.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.we_do_header, .faq_head{
    font-size: 1.6rem;
    text-transform: uppercase;
}

.service-box{
    padding: 20px;
    border-radius: 4px;
    transition: .3s ease;
    cursor: pointer;
}

.service-icon {
    font-size: 40px;
    color: hsl(250, 100%, 16%); 
    margin-bottom: 20px;
}
.service-box h4 {
    font-size: 24px;
    margin-top: 15px;
    font-weight: 600;
}

.service-box p, .faq_head{
    margin-top: 20px;
}

.view_works{
    margin-bottom: 30px;
}

.view_more_works{
    text-align: center;
    padding-top: 30px;
}

.view_more_works button{
    width: 160px;
    height: 50px;
    border: none;
    background: hsl(250, 100%, 16%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    border-radius: 6px;
    transition: .3s ease;
    font-size: 1rem;
}

.view_more_works button:hover{
    transform: translateY(-4px);
}

.lft{
    width: 80%;
}

.quest_ask_wap, .main_faq{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rggy{
    width: 800px;
    height: 100%;
    position: relative;
}

.faq_image img{
    width: 100%;
    height: 100%;
}

.faq_padd{
    border-radius: 3px;
    box-shadow: 0 0 20px #ccc;
    margin: 10px;
}

.faq_padd{
    padding: 20px;
    transition: .4s ease;
    height: 70px;
    overflow: hidden;
}

.quest_icon{
    color: hsl(250, 100%, 16%);
    font-size: 1.3rem;
    transition: .3s ease;
}

.faq_quest{
    cursor: pointer;
    transition: .4s ease;
}

.faq_quest:hover{
    color: hsl(250, 100%, 16%);
}

.faq_answer{
    margin-top: 40px;
    transition: all .4s ease;
}

.faq_col{
    transition: all .4s ease;
}

.full{
    height: 100%;
}

.full i{
    transition: .3s ease;
    transform: rotate(45deg);
}

.faq_quest {
    height: 30px;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
.expanded {
    height: 200px; 
  }

.answer{
    color: hsl(250, 100%, 16%);
    font-size: 1.1rem;
}

.rotated {
    transform: rotate(90deg);
  }
  
.footer{
    background: hsl(250, 100%, 16%);
}  

.footer footer{
    padding: 40px;
}

.footer_nav .links ul a{
    color: hsl(0, 0%, 100%);
}

.footer_nav .links ul li{
    padding-left: 30px;
}

.to_top{
    position: fixed;
    bottom: 10%;
    right: 50px;
    z-index: 99;
    display: none;
}

#top{
    padding: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: .4s ease;
}

#top i{
    font-size: 2.4rem;
}

@media screen and (max-width: 992px) {
    .nav_links{
        position: fixed;
        left: 0;
        top: 0;
        display: none;
    }

    .nav_links ul{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .get_started{
        display: none;
    }

    .mobile_view{
        display: block;
    }

    .home_image{
        margin-top: 50px;
    }

    .home_text{
        margin-top: -40px;
    }

    .aswe h1{
        font-size: 2rem;
    }

    .rewqq{
        margin-top: -20px;
    }

    .grid_home, .we_do_grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .about_us{
        margin-top: -50px;
    }

    .about_us_header h1{
        font-size: 2rem;
    }

    .what_do, .quest_asked{
        flex-direction: column;
    }

    .about_left_image{
        width: 100%;
        height: 500px;
    }

    .mann{
        width: 100%;
    }

    .we_do_header, .faq_head{
        font-size: 1rem;
    }

    .we_do_main_content{
        margin-top: -30px;
    }

    .lft{
        width: 100%;
    }

    .rggy{
        display: none;
    }
}

@media screen and  (max-width: 768px) {
    .nav_links{
        position: fixed;
        left: 0;
        top: 0;
        display: none;
    }

    .nav_links ul{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .get_started{
        display: none;
    }

    .mobile_view{
        display: block;
    }

    .home_image{
        margin-top: -100px;
    }

    .home_text{
        margin-top: -100px;
    }

    .aswe h1{
        font-size: 2rem;
    }

    .rewqq{
        margin-top: -20px;
    }

    .grid_home, .we_do_grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .about_us{
        margin-top: -50px;
    }

    .about_us_header h1{
        font-size: 1.6rem;
    }

    .what_do, .quest_asked{
        flex-direction: column;
    }

    .about_left_image{
        width: 100%;
        height: 300px;
    }

    .view_works{
        margin-top: -39px;
    }

    .faq{
        padding: 20px;
        margin-top: -40px;
    }

    .mann{
        width: 100%;
        height: 400px;
    }

    .we_do_header, .faq_head{
        font-size: .8rem;
    }

    .we_do_main_content{
        margin-top: -30px;
    }
}

@media screen and  (max-width: 424px) {
    
}